name: Keep version in VERSION up to date

on:
  push:
    paths:
      - 'bot.py'

jobs:
  update_version:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          cp data/secrets.py.example data/secrets.py

      - name: Extract version
        id: extract_version
        run: |
          python -c "from bot import __version__;print(__version__)" > VERSION
          echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Check for changes in VERSION file
        id: version_changes
        run: |
          git diff --quiet --exit-code -- VERSION || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Commit version file
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add VERSION
          git commit -m "Version ${{ steps.extract_version.outputs.version }}"
          git push
        if: steps.version_changes.outputs.changed == 'true'
